{% include ../layouts/header.html %}

<div class="form-area">
  <form role="form"  method="post" action="/users">
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="E-mail" required>
    </div>
    <div class="form-group">
      <input type="password", class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input type="password", class="form-control" name="password_confirmation" placeholder="Password Confirmation" required>
    </div>
    <button type="submit" class="btn btn-primary" name="submit" value="save">註冊</button>
    <a href="/users" class="btn btn-default">取消</a>
  </form>
</div>

{% include ../layouts/footer.html %}

